{% extends "base.html" %}

{% block content %}
<h2>{{ User.get_name(seller_id) }} Reviews:</h2>

<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</p>

{% if reviews %}
    <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Rating</th>
                <th scope="col">Date Added</th>
                <th scope="col">Review</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td>
                        <a href="{{ url_for('users.public_user', uid=review.uid) }}">
                            {{ review.uid }}
                        </a>
                    </td>
                    <td>
                        {% set full_stars = review.rating %}
    
                        {% for i in range(1, full_stars + 1) %}
                            &#9733;
                        {% endfor %}
    
                        {% for i in range(full_stars, 5) %}
                            &#9734;
                        {% endfor %}
                    </td>
                    <td>{{ humanize_time(review.time_posted) }}</td>
                    <td>{{ review.details }}</td>
                    <td>
                        <form action="{{ url_for('reviews.update', product_id=review.pid) }}" method="POST">
                            <button type="submit" class="btn btn-primary">Update Review</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('reviews.delete', product_id=review.pid) }}" method="POST">
                            <button type="submit" class="btn btn-primary">Delete Review</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>This seller has no reviews.</p>
{% endif %}

<div class = "pages">
    {% if page_number > 1 %}
    <a href ="?page_number ={{ page_number - 1 }}" class = "button">Previous</a>
    {% endif %}

    <span>Page {{ page_number }}</span>

    {% if reviews|length == 10 %}
    <a href="?page_number={{ page_number + 1 }}" class = "button">Next</a>
    {% endif %}
</div>


{% endblock %}